* {
    box-sizing: boder-box;
}

body {
    background-color: beige;
    font-family: monospace;
}

a {
    color: white;
}

li {
    list-style: none; /* without the items */
}

.btn {
    margin-top: 10px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 2px;
    background: #FF8C00;
    color: white;
    border: none;
    cursor: pointer;
}

.grid {
    display: flex; /* displays an element as a block-level flex container */
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0px 20px;
  display: flex;
  justify-content: space-around; /* items will have space before, between(equal) and after them */
  align-items: center;
  background-color: darkorange;
}

#header-img {
    width: 10vw;
}

.spacer {
    width: 100%;
    height: 150px;
}

.content {
    width: 100%;
    padding: 10px;
}

#init {
    display: flex;
    flex-direction: column; /* the flexible items are displayed vertically */
    align-items: center;
    text-align: center;
}

#init h1 h2 {
    margin-top: 6px;
    margin-bottom: 20px;
    word-wrap: break-word; /* allows for long words to be separated if needed */
}

#init h2 {
    margin-top: 0;
    color: darkgreen;
}

#init input[type='email'] {
    max-width: 300px;
    width: 100%;
    padding: 6px;
}

#init input[type='submit'] {
    max-width: 150px;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 25px;
}

#init input[type='submit']:hover {
    background-color: chocolate;
}

#features {
    font-size: 14px;
    margin: 15px 170px 40px 170px;
}

#features .icon {
    display: flex;
    align-items: center;
    justify-content: center; /* items are positioned in the center of the container */
    height: 125px;
    width: 125px;
    margin-right: 20px;
}

#features .feature-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    word-wrap: break-word;
}

#features .feature-text h2 {
    margin-bottom: 0;
}

@media (max-width: 550px) {
    #features .icon {
	display: none;
    }

    #features .feature-text {
	width: 100%;
	text-align: center;
    }
}

#bullet-journal {
    display: flex;
    justify-content: center;
    width: 100%;
}

#pricing {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 0 20px 0;
    width: 300px;
    border: 1px solid darkorange;
}

.level {
    font-size: 20px;
    font-weight: bold;
    color: darkorange;
}

.product ol {
    padding-right: 38px;
}

.product button {
    width: 90px;
    padding: 5px;
}

.product button:hover {
    background-color: chocolate;
}

footer {
    width: 100%;
    background-color: darkorange;
}

footer ul {
    display: flex;
    justify-content: flex-end; /* items are positioned at the end of the container */
    padding-top: 4px;
}

footer span {
    color: white;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    padding-bottom: 4px;
}
